# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
env.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt

# Bot files
voice_*.ogg
temp.wav
temp.mp3

# Env
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# Render
.render/
